<% if !!@product.ad_hoc_option_types && @product.ad_hoc_option_types.present? %>
  <div class="ad_hoc_options" id="js-product-adhoc-container-<%=@product.id %>">
  <% @product.ad_hoc_option_types.each do |ad_hoc_option_type| %>
    <%# ugly logic %>
    <% option_type = ad_hoc_option_type.option_type %>
    <% class_str = 'ad-hoc-option-select' %>
    <% class_str += ' required' if ad_hoc_option_type.is_required %>
    <% class_str += ' ad_hoc' if @product.ad_hoc_variant_exclusions.present? %>

    <% select_opts = { class: "#{class_str} form-control ad-hoc-option-select-#{@product.id}" } %>
    <% select_opts[:prompt] = 'None' if ad_hoc_option_type.option_values.size > 1 && ad_hoc_option_type.option_values.none? {|option_value| option_value.selected? }%>
    <% selected_option_value = ad_hoc_option_type.option_values.detect {|option_value| option_value.selected? } %>

    <% div_class_str = 'pick-flavor-wrapper form-for-ad-hoc-option-value'%>
    <% div_class_str += ' mb-25' if ad_hoc_option_type == @product.ad_hoc_option_types.last %>
    <div class="<%= div_class_str %>">
      <label><%= option_type.presentation %></label>
      <%= select_tag "ad_hoc_option_values[#{ad_hoc_option_type.id}]",options_for_select(ad_hoc_option_value_options(ad_hoc_option_type.option_values), selected_option_value.present? ? selected_option_value.id.to_s : nil), select_opts %>
    </div>
  <% end %>
  </div>
<% end %>
