<%
  option_values = ""
  unless item.ad_hoc_option_values.blank?
    option_values = "<div>("
    item.ad_hoc_option_values.each_with_index do |ad_hoc_option_value, index|
      if index > 0
        option_values += ", "
      end
      if item.ad_hoc_option_values.size >= 2 && index == item.ad_hoc_option_values.size - 1
        option_values += "and "
      end
      option_values += ad_hoc_option_value.option_value.presentation
    end
    option_values += ")</div>"
  end
%>
<%= option_values.html_safe %>